.menu-switch {
  margin: 10px 0px;
  height: 30px;
  z-index: 8;
  filter: invert(1);

  &--selected {
    opacity: 0.5;
  }
}

.sandwich {
  padding-top: 10px;
  width: 24px;
  height: 24px;
  margin: 0;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  &-element {
    width: 24px;
    height: 2px;
    background-color: white;
    margin-top: 6px;
    transition: 0.4s;
    border-radius: 2px;
  }
  &-element--top {
    transform: translateY(8px) rotate(-45deg);
  }
  &-element--middle {
    opacity: 0;
  }
  &-element--bottom {
    transform: translateY(-8px) rotate(45deg);
  }
}
