.menu-switch {
  display: flex;
  flex-direction: row;
  &-year {
    font-size: 1rem;
    height: 1rem;
    padding: 14px;
    color: #ddd;
    font-style: italic;
  }
}
@media screen and (max-width: 480px) {
  .menu-switch-year {
    position: absolute;
    top: -1000px;
    font-size: 1rem;
    opacity: 0;
    width: 0;
    height: 0;
    color: #ddd;
    font-style: italic;
  }
}

.sandwich {
  padding-top: 10px;
  width: 24px;
  height: 24px;
  margin: 0;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  &-element {
    width: 24px;
    height: 2px;
    background-color: white;
    margin-top: 6px;
    transition: 0.4s;
    border-radius: 2px;
  }
  &-element--top {
    transform: translateY(8px) rotate(-45deg);
  }
  &-element--middle {
    opacity: 0;
  }
  &-element--bottom {
    transform: translateY(-8px) rotate(45deg);
  }
}
