.profile {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  &__content {
    display: grid;
    color: var(--profile__content-color);
    background-color: transparent;
    font-family: sans-serif;
    vertical-align: top;
    row-gap: 5px;
    align-items: start;
    font-size: 15px;

    &--img {
      width: 10rem;
      height: auto;
      float: left;
      border-radius: 4px;
      filter: var(--profile-img-filter);
    }
  }
  &__logo {
    filter: invert(1);
    opacity: 80%;
    width: 35px;

    margin-right: 10px;
    &:hover {
      transform: scale(103%);
    }
    &--big-zoom:hover {
      transform: scale(1.5);
    }
  }
  &__logos {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  &__link {
    margin-left: 5px;
    color: var(--profile__link-color);
  }
}
@media screen and (max-width: 600px) {
  .profile {
    &__content {
      &--hide {
        opacity: 0.5;
      }
    }
  }
}
