.gc {
  display: flex;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  color: var(--gc-color);
  background-color: var(--gc-background-color);

  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-top: 5vh;
  animation: fadegitin 1s forwards;

  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50%);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
  will-change: opacity, visibility;

  &__ul {
    padding-left: 0vh;
    border: 3px;
    border-radius: 5px;
    border-color: --gc__ul-border-color;
  }
  &__li {
    transition: transform 0.5s ease-in-out;
    transform: scale(100%);

    padding-top: 20px;
    width: 80%;
    padding-bottom: 20px;
    padding-left: 2vh;
    background-image: radial-gradient(var(--gc__li-a), var(--gc__li-b));
    background-color: var(--gc__li-background-color);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px;
    border-style: solid;
    border-color: white;
  }
  &__element {
    display: flex;
  }
  &__attrib {
    color: var(--gc__attrib-color);
  }
  &__value {
    padding: 2px;
    margin-right: 20px;
    color: var(--gc__value-color);
  }
  &__li:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(102%);
  }
  &__img {
    filter: invert(1);
  }
  &__div {
    display: grid;
    margin-left: 1vh;
  }
  &__button {
    border: 0px;
    color: var(--gc__button-color);
    background-color: var(--gc__button-background-color);
  }
}
.is-visible {
  opacity: 1;
  visibility: visible;
  transform: none;
  display: flex;
}

@keyframes fadegitin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
