.gc {
  display: flex;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  color: aliceblue;
  /*background-color: rgb(37, 42, 42);*/
  background-color: #000;

  /*background-image: linear-gradient(to bottom, #2e2e2e, #000000);*/
  flex-direction: column;
  align-items: center;
  /*margin-right: 30rem;*/
  margin-left: 0;
  /*overflow-y:auto;*/
  margin-top: 5vh;
  animation: fadegitin 1s forwards;

  &__ul {
    padding-left: 0vh;
    border: 3px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
  }
  &__li {
    transition: transform 0.5s ease-in-out;
    transform: scale(100%);

    padding-top: 20px;
    width: 80%;
    padding-bottom: 20px;
    padding-left: 2vh;
    background-image: radial-gradient(#000, #0e0e0e);
    background-color: #000;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px;
    border-style: solid;
    border-color: white;
  }
  &__element {
    display: flex;
  }
  &__text {
    padding: 2px;
    margin-right: 20px;
  }
  &__li:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(102%);
  }
  &__img {
    filter: invert(1);
  }
  &__div {
    display: grid;
    margin-left: 1vh;
  }
  &__button {
    border: 0px;
    color: #000;
    background-color: #000;
  }
}

@keyframes fadegitin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
