/***maybe refactor into BEM (Block, Elements and Modifiers) using scss.***/
html,
body {
  width: 100vw;
  min-height: 100vh;
  background-color: #000;
}

@keyframes fadeinApp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeimgin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

li {
  float: left;
  display: inline;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
}
