.page {
  &__properties {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;

    animation: fadeinApp 0.9s forwards;
    height: 100%;
    background-color: var(--page-background-color);
  }
  &__frame {
    z-index: 1;
    display: grid;
    grid-template-columns: 25px calc(100% - 50px) 25px;
    grid-template-rows: 100px 520px auto auto 200px 100px 100px;
    &--blur {
      filter: blur(10px);
    }
    background: rgba(255, 255, 255, 0);
  }
  &__cover {
    position: absolute;
    filter: blur(10px);
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 8;
  }
  &__gif {
    display: flex;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    z-index: -6;

    &--content {
      padding: 4px 0px 0px;
      //border-radius: 9px 9px 9px 9px;
      width: 100%;
      opacity: 0.2;
      object-fit: cover;
      mask-clip: border-box;
      mask: linear-gradient(to left, #000, rgba(255, 255, 255, 0));
    }
  }
}
