hr {
    display: block;
    height: 4px;
    border: 2;
    border-top: 1px solid #a24f4f;
    margin: 1em 0;
    padding: 0;
}



.Frame
{
  display: grid;
  background-color: #000000;
  grid-template-columns: 50px auto 50px;



}


.App-header {
  grid-column-start: 2;
  grid-column-end: 3;
  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.resize 
{
  width: 100px;
  height: auto; 
  float: left; 
  
}