hr {
  display: block;
  height: 4px;
  border: 2;
  border-top: 1px solid #a24f4f;
  margin: 1em 0;
  padding: 0;
}
.App {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;

  background-color: #000000;
  height: 100%;
}

.Frame {
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 100px 400px 100px 300px 1000px 100px 100px;
  /*Name, Picture + Data, Menu, Text, Space, Statusline, Border*/
}
.App-header {
  grid-column-start: 2;
  grid-column-end: 3;
  min-height: 100vh;
  display: block;
  color: white;
}
.ListItem1 {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 3;
  grid-row-end: 4;
}


.active {
  color: #928ccb;   

}




.DataDivWrapper {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.DataDiv {
  color: white;
  font-family: sans-serif;
  vertical-align: top;
  row-gap: 5px;
  display: grid;
  align-items: start;
  font-size: 15px;
}

.TextSize {
  height: 1rem;
}


.link_
{
  color: rgb(125, 184, 171); 
}

.resize {
  width: 10rem;
  height: auto;
  float: left;
}

.ul_ {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #303030;
  /*display: flex;*/
  flex-direction: row;
  justify-content: center;
}

li {
  float: left; 
  display: inline;
}
.lia {
  display: block;
  text-align: center;
  color: rgb(239, 239, 239);
  padding: 14px 16px;
  text-decoration: none;
}

.liActive {
  display: block;
  text-align: center;
  color: rgb(239, 239, 239);
  background-color: #1c1c1c ;
  padding: 14px 16px;
  text-decoration: none;
}


.lia:hover {
  background-color: #111;
  color: rgb(100, 154, 211);
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}


.Description_ {
  color: white; 
  background-color: #0e0e0e;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}