.bottom-bar {
  margin-top: 60px;
  background-image: -webkit-gradient(bottom, #5e5e5e, rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, #5e5e5e, rgba(0, 0, 0, 0));
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;

  &__elements {
    display: flex;
  }

  &__element {
    &:hover {
      transform: scale(110%);
      text-decoration: underline;
      transition: transform 0.2s ease-in-out;
    }
    padding: 3px;
    margin-right: 1vh;
  }
  &__image {
    width: 30px;
    height: 30px;
  }

  &__image:hover + &__hide {
    display: block;
    animation: rolloutright 0.5s forwards;
  }
  &__image:hover {
    transform: scale(110%);
    text-decoration: underline;
    transition: transform 0.2s ease-in-out;
  }
  &__hide:active {
    text-decoration: none;
  }

  &__hide {
    margin-top: 3px;
    grid-row-start: 5;
    grid-row-start: 6;
    grid-column-start: 2;
    grid-column-end: 3;

    display: none;
    color: black;
    margin-left: 1rem;
  }
  &__image-div {
    display: flex;
    flex-direction: row;
  }
}
@keyframes rolloutright {
  from {
    transform: translateX(500px) scaleX(0%);
  }
  to {
    transform: translateX(0%);
  }
}

.fnfDiv {
  margin-left: calc(100% - 10rem);
}
